@import "../core/dir-core";
header{
    height: 100px;
    @include mixin-nav;
    justify-content: space-around;
    padding-top: 30px;
    .logo{
        height: 75px;
        width: 90px;

    }
    nav{
        height: 100px;
        width:452px;
        li{
            
            @include mixin-nav;
            ul{
                a{
                    color: $primary-color;
                    font-family: $font-family;
                    &:hover{
                        color: $footer;
                    font-family: $font-family;
                    font-size: 30px;

                    }
                }
            }
        }
    }

}